.content{
    margin: 24px 16px 0 16px;
}

.picture{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-template-rows: 2fr 0.3fr 0.3fr;
    grid-gap: 3px;
    margin: 10px 0 24px 0;
}

#picture1, #picture2, #picture3{
    display: grid;
}

p{
    display: inline-block;
    
}

.name, .role{
    justify-self: center;
}

.name {
    font-weight: 700;
}