header {
    width: 100%;
    height: 60px;
    padding: 0 1vw 0 0.5vw;
    background-color: #7FB069;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    overflow: hidden;
}

.logo {
    width: auto;
    height: 100%;
}

.logo a {
    height: 100%;
}

.logo img {
    object-fit: contain;
}

.menu_wrap {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    height: 80%;
    padding: 8px 25px;
    border-radius: 20px;
    border: 1px solid #041B15;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

label {
    /* width: 40px; */
    margin-left: 15px;
    height: 60px;
    color: #041B15;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

#menu {
    display: none;
}

.drop_down {
    width: 100%;
    height: 0px;
    padding: 0 2vw;
    background-color: #7FB069;
    transition-duration: 0.5s;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.drop_down li {
    margin-top: 10px;
}

#menu:checked~.drop_down {
    height: 200px;
}

@media screen and (max-width: 700px) {
    header {
        padding: 0 3vw 0 1vw;
    }

    .drop_down {
        padding: 0 5vw;
    }
}

@media screen and (max-width: 344px) {

    .login {
        font-size: 18px;
        /* padding: 8px 20px; */
    }

    .menu {
        font-size: 20px;
    }

    label {
        margin-left: 5px;
    }

    #menu:checked~.drop_down {
        height: 250px;
    }
}