.leaderboard {
    width: 60%;
    height: 60vh;
    background-color: #5f9944;
    border-radius: 15px;
    border: 1px solid #041B15;
    margin: 3vh auto;
    padding: 10px 10px;
    font-size: 20px;
    line-height: 60px;
    overflow: hidden;
    text-align: center;
}

caption {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

caption i {
    color: #ffd700;
}

.leaderboard img {
    width: 50px;
    height: 50px;
}

thead {
    color: #041B15;
    font-weight: 700;
}

tbody td {
    color: #fff;
}

tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

tr>td:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

td img {
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .leaderboard {
        width: 80%;
        /* height: 60vh; */
        margin: 20px auto;
        font-size: 16px;
    }
}