.leaderboard {
    width: 60%;
    height: 400px;
    background-color: #5f9944;
    border-radius: 15px;
    border: 1px solid #041B15;
    margin: 3vh auto;
    padding: 10px 10px;
    font-size: 20px;
    line-height: 60px;
    overflow: hidden;
    text-align: center;
}

caption {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

caption i {
    color: #ffd700;
}

.leaderboard img {
    width: 50px;
    height: 50px;
}

thead {
    color: #041B15;
    font-weight: 700;
}

thead td:nth-child(1), thead td:nth-child(2) {
    width: 10%;
}

thead td:nth-child(3) {
    width: 40%;
}

thead td:nth-child(4) {
    width: 20%;
}

thead td:nth-child(5) {
    width: 20%;
}

tbody td {
    color: #fff;
}

tbody td:nth-child(1), tbody td:nth-child(2) {
    width: 10%;
}

tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

tr>td:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#first {
    color: rgb(234, 255, 0);
}

#second {
    color: #d1e0f0;
}

#third {
    color: rgb(194, 123, 65);
}

.username {
    width: 40%;
}

.score {
    width: 20%;
}

.time {
    width: 20%;
}

td img {
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .leaderboard {
        width: 90%;
        font-size: 16px;
    }
}