.desc {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.desc h3 {
    font-size: 24px;
    text-align: center;
}

.learn_more {
    margin-top: 10px;
    font-size: 16px;
}

.learn_more a {
    color: #7FB069;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .con_wrap {
        width: 100%;
        flex-direction: column;
        margin-top: 0;
    }

    .main_banner {
        width: 80%;
        height: 28vh;
        margin: 30px auto 30px auto;
    }

    .con {
        width: 100%;
        height: 45vh;
        margin-top: 10px;
    }

    .desc {
        width: 95%;
        height: 80%;
    }

    .desc h3 {
        font-size: 20px;
        text-align: center;
    }

    .learn_more {
        padding: 0 3vw;
    }
}

@media screen and (max-width: 700px) {
    .main_banner {
        width: 80%;
        height: 20%;
        margin: 0 auto;
        padding: 0;
    }
    
    .desc {
        font-size: 15px;
        padding: 0 10px;
    }

    .con {
        height: 80%;
        margin-top: 25px;
    }
}