.title {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 2vh auto;
}

/* Add CSS styles for the card container with vertical scrolling */
.card-container {
  height: calc(100vh - 140px - 4vh);
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

/* Style the individual cards as needed */
.card {
  width: 100%;
  /* Adjust the width as per your design, leaving a little space for margins */
  /* Add margin between cards */
  margin: 0 0 2vh 0;
  border: 3px solid #000000;
  border-radius: 10px;
  background-color: #7FB069;
  overflow: hidden;
}

.gameID {
  background-color: #134611;
  border-bottom: 3px solid #000000;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.card-info {
  font-size: 20px;
  margin: 10px;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 25px;
  }
}