  /* I want to make it to become 2 columns but I can't*/
@media screen and (max-width: 700px) {
    .container {
        width: 80%;
    }
}

.body {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

/* Add CSS styles for the card container with vertical scrolling */
.card-container {
    max-height: 450px; /* Adjust the maximum height as needed */
    width: 100vw;
    overflow-y: auto;
  }


  /* Style the individual cards as needed */
  .card {
    width: 45vw; /* Adjust the width as per your design, leaving a little space for margins */
    margin: 2%; /* Add margin between cards */
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: #7FB069;
  }

  .gameID {
    font-size: 30px;
    text-align: center;
    border-bottom: 5px solid #000000;
    background-color: #134611;
    color: #fff;
  }

  .card-info {
    font-size: 25px;
    margin: 10px;
  }